.App{
  position: relative;
  max-width: 360px;
  margin:0 auto;
  overflow:hidden;

  .header{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    padding: 0.5rem 0.5rem 0.5rem 2.5rem;
    height: 40px;
    z-index: 100;
    background:url("../images/header-camera-icon.png");
    background-repeat:no-repeat;
    background-size:6%;
    background-color:#fff;
    background-position:8px 50%;

    .logo{
      width:110px;
      height:auto;
      position: absolute;
      right:.7rem;
      top:.7rem;
    }
  }

  .app-wrapper{
    position: relative;
    padding:3.5rem 0.5rem 0.5rem;
  }

  .footer{
    position:fixed;
    background:#fff;
    bottom:0;
    left:0;
    right:0;
    height:27px;
    padding:0.5rem;
    color:#454545;
    z-index: 100;
    min-height:0;

    transition: min-height 0.5s;

    .about-copy{
      padding-top:20px;
      font-size:12px;
      font-family: Arial;
      line-height:1.4;
      height: 96%;
      overflow: auto;

      p{
        padding-bottom:10px;
      }
    }
    .about{
      cursor:pointer;
    }
    .close-arrow{
      display:none;
    }

    &.open{
      min-height: 350px;

      .close-arrow{
        display:inline;
      }
      .open-arrow{
        display:none;
      }
    }
    .copyright{
      position: absolute;
      right:0.5rem;
    }
  }
}
