.rating{
  display:inline-block;
  vertical-align: middle;
  margin:0;
  padding:0;
  width:54px;
  text-align:left;

  li{
    display:inline-block;
    vertical-align: middle;
    margin:0;
    padding:0;
    overflow:hidden;

    span{
      background-image:url("../images/camera-data-sprite.png");
      background-repeat: no-repeat;
      background-size:100%;
      width:18px;
      height:14px;
      display:inline-block;
      vertical-align: middle;
    }

    &.half{
      width:9px;
    }
  }
}
